* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-size: 50px;
    font-weight: bold;
}

p {
    color: #000;
    font-size: 20px;
    line-height: 1.5;
}

button,
a,
.icon {
    cursor: pointer;
    transition: all .3s ease;
}

button:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.24);
    transition: all .3s ease;
}

.icon:hover,
a:hover {
    color: #FF0000 !important;
    transition: all .3s ease;
}